@page {
  size: A4 landscape;
}

@page :first {
  counter-reset: page -1;
}
h1,h2,h3,h4,h5,h6 {
  font-family: ToppanBunkyuMidashiGothicStdN-ExtraBold;
}

section {
  font-size: 28pt;
  font-family: ToppanBunkyuGothicPr6N-Regular;
  margin: 1em;
}

pre {
  padding: 0.2em 0.5em;
}
code {
  font-family: "Source Code Pro";
  font-size: 22pt;
}
.small-small-code {
  font-size: 6.5pt;
  margin-top: -30px;
}
.small-small-code code {
  font-size: 7pt
}
.medium-code {
  font-size: 18pt;
  margin-top: -30px;
}
.medium-code code {
  font-size: 18pt
}
.page {
  page-break-before: always;
}
.no-h {
  padding-top: 60px;
}
.center-image-section {
  page-break-before: always;
  padding-top
}
.pgroup {
  margin: 0 1em;
}
figure {
  margin: 1em auto;
}
.fig-20 {
  width: 20%;
}
.fig-60 {
  width: 60%;
}
.fig-80 {
  width: 80%;
}
.top-pad-fig {
  padding-top: 2em;
}
.invisible {
  display: none;
}

figcaption {
  font-size: 12pt;
  text-align: center;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 40pt;
  bookmark-level: 1;
}
h2 {
  font-size: 40pt;
  bookmark-level: 2;
}
h3 {
  font-size: 40pt;
  bookmark-level: 3;
}
.center {
  text-align: center;
}
.first-page {
  page-break-before: avoid;
}
.first-page h1 {
  bookmark-level: none;
  font-size: 52pt;
  text-align: center;
  padding-top: 50mm;
}
.first-page .title {
  text-align: center;
  font-family: ToppanBunkyuMidashiGothicStdN-ExtraBold;
  font-size: 28pt;
}
.first-page .author {
  text-align: center;
  font-family: ToppanBunkyuMidashiGothicStdN-ExtraBold;
  font-size: 32pt;
}

section.t > h1 {
  font-size: 80pt;
  text-align: center;
  padding-top: 50mm;
}
section.t > h2 {
  font-size: 80pt;
  text-align: center;
  padding-top: 50mm;
}
section.t > h3 {
  font-size: 80pt;
  text-align: center;
  padding-top: 50mm;
}

@-epubx-page-template {
  .event-title {
    -epubx-flow-into: event-title;
    -epubx-flow-options: exclusive last static;
    font-size: 12pt; 
  }
  .event-title-area {
    -epubx-flow-from: event-title;
    bottom: 0;
    left: 1em;
    height: 2.5em;
  }
  .slide-title {
    -epubx-flow-into: slide-title;
    -epubx-flow-options: exclusive last static;
    font-size: 12pt; 
  }
  .slide-title-area {
    -epubx-flow-from: slide-title;
    bottom: 0;
    right: 1em;
    height: 2.5em;
  }
 .page-number-area {
    content: "- " counter(page) " -" ;
    width: 20%;
    left: 40%;
    right: 40%;
    bottom: 0;
    height: 2.5em;
    text-align: center;
  }
  @-epubx-page-master {
    -epubx-page: 1;
    @-epubx-partition body {
      -epubx-flow-from: body;
      width: 100%; 
      padding: 0.5em 1em 1em 0;
    }
  }
  @-epubx-page-master {
    @-epubx-partition body {
      -epubx-flow-from: body;
      width: 100%; 
      padding: 0.5em 1em 1em 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 3em;
      border-bottom: 1px solid #000000;
    }
    @-epubx-partition page-number-area class(page-number-area) {}
    @-epubx-partition event-title-area class(event-title-area) {}
    @-epubx-partition slide-title-area class(slide-title-area) {}
  }
}
